In [178]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [179]:
Nongzhanguan_df = pd.read_csv("https://raw.githubusercontent.com/ortenox/data_analyst_project/main/PRSA_Data_Nongzhanguan_20130301-20170228.csv")

In [180]:
Nongzhanguan_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,5.0,14.0,4.0,12.0,200.0,85.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Nongzhanguan
1,2,2013,3,1,1,8.0,12.0,6.0,14.0,200.0,84.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Nongzhanguan
2,3,2013,3,1,2,3.0,6.0,5.0,14.0,200.0,83.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Nongzhanguan
3,4,2013,3,1,3,5.0,5.0,5.0,14.0,200.0,84.0,-1.4,1026.2,-25.5,0.0,N,4.9,Nongzhanguan
4,5,2013,3,1,4,5.0,5.0,6.0,21.0,200.0,77.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Nongzhanguan

In [181]:
Nongzhanguan_df.info()
print("Jumlah missing values: \n", Nongzhanguan_df.isna().sum())
print("Jumlah duplikasi: ", Nongzhanguan_df.duplicated().sum())
Nongzhanguan_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34436 non-null  float64
 6   PM10     34624 non-null  float64
 7   SO2      34618 non-null  float64
 8   NO2      34372 non-null  float64
 9   CO       33858 non-null  float64
 10  O3       34558 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB
Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       628
PM10        440
SO2         446
NO2         692
CO         1206
O3          506
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64
Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34436.000000,34624.000000,34618.000000,34372.000000,33858.000000,34558.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,84.838483,108.991096,18.689242,58.097172,1324.350198,58.534682,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,86.225344,95.341177,24.280665,36.297740,1245.166124,58.401448,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.571200,2.000000,100.000000,0.214200,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,29.000000,500.000000,10.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,85.000000,9.000000,51.000000,900.000000,45.000000,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,116.000000,149.000000,23.000000,80.000000,1600.000000,84.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,844.000000,995.000000,257.000000,273.000000,10000.000000,390.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

In [182]:
Nongzhanguan_df[(Nongzhanguan_df['PM2.5'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
1258,1259,2013,4,22,10,NaN,175.0,49.0,68.0,1100.0,33.0,14.1,1011.2,5.4,0.0,S,3.5,Nongzhanguan
1259,1260,2013,4,22,11,NaN,205.0,51.0,70.0,1200.0,50.0,14.5,1011.0,6.1,0.0,SSW,3.1,Nongzhanguan
1260,1261,2013,4,22,12,NaN,196.0,57.0,62.0,1300.0,55.0,14.3,1010.9,6.1,0.0,SSW,3.1,Nongzhanguan
1331,1332,2013,4,25,11,NaN,73.0,3.0,23.0,400.0,90.0,20.0,1009.7,-8.4,0.0,NNW,5.2,Nongzhanguan
1620,1621,2013,5,7,12,NaN,NaN,46.0,109.0,2200.0,25.0,28.8,1011.3,11.4,0.0,WSW,1.4,Nongzhanguan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35026,35027,2017,2,27,10,NaN,NaN,NaN,NaN,NaN,NaN,6.8,1019.3,-5.2,0.0,E,1.9,Nongzhanguan
35029,35030,2017,2,27,13,NaN,6.0,40.0,93.0,200.0,32.0,14.0,1015.8,-5.2,0.0,SSE,1.8,Nongzhanguan
35042,35043,2017,2,28,2,NaN,NaN,NaN,NaN,NaN,NaN,8.6,1016.0,-10.9,0.0,NNE,0.9,Nongzhanguan
35054,35055,2017,2,28,14,NaN,6.0,2.0,10.0,200.0,94.0,14.6,1013.3,-15.6,0.0,N,3.6,Nongzhanguan
35055,35056,2017,2,28,15,NaN,8.0,3.0,11.0,200.0,91.0,15.4,1013.0,-15.0,0.0,NNW,3.3,Nongzhanguan

In [183]:
Nongzhanguan_df['PM2.5'].fillna(value=Nongzhanguan_df['PM2.5'].mean(), inplace=True)

In [184]:
Nongzhanguan_df[(Nongzhanguan_df['PM2.5'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [185]:
Nongzhanguan_df[(Nongzhanguan_df['PM10'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
294,295,2013,3,13,6,13.000000,NaN,15.0000,43.0000,500.0,73.0000,0.1,1024.4,-10.7,0.0,NE,0.9,Nongzhanguan
915,916,2013,4,8,3,27.000000,NaN,10.0000,38.0000,400.0,40.0000,9.2,1005.7,-15.4,0.0,NW,7.6,Nongzhanguan
1620,1621,2013,5,7,12,84.838483,NaN,46.0000,109.0000,2200.0,25.0000,28.8,1011.3,11.4,0.0,WSW,1.4,Nongzhanguan
2411,2412,2013,6,9,11,84.838483,NaN,2.2848,22.7883,NaN,45.4104,17.5,1007.8,16.2,2.0,NW,3.3,Nongzhanguan
2476,2477,2013,6,12,4,26.000000,NaN,3.0000,26.0000,500.0,56.0000,14.6,1004.5,13.5,0.0,N,0.0,Nongzhanguan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34958,34959,2017,2,24,14,84.838483,NaN,NaN,NaN,NaN,NaN,11.2,1019.4,-12.3,0.0,NW,2.3,Nongzhanguan
34986,34987,2017,2,25,18,84.838483,NaN,NaN,NaN,NaN,NaN,11.4,1016.4,-12.1,0.0,NNW,2.6,Nongzhanguan
35006,35007,2017,2,26,14,84.838483,NaN,NaN,NaN,NaN,NaN,12.4,1018.9,-8.8,0.0,ESE,1.6,Nongzhanguan
35026,35027,2017,2,27,10,84.838483,NaN,NaN,NaN,NaN,NaN,6.8,1019.3,-5.2,0.0,E,1.9,Nongzhanguan
35042,35043,2017,2,28,2,84.838483,NaN,NaN,NaN,NaN,NaN,8.6,1016.0,-10.9,0.0,NNE,0.9,Nongzhanguan

In [186]:
Nongzhanguan_df['PM10'].fillna(value=Nongzhanguan_df['PM10'].mean(), inplace=True)

In [187]:
Nongzhanguan_df[(Nongzhanguan_df['PM10'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [188]:
Nongzhanguan_df[(Nongzhanguan_df['SO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
26,27,2013,3,2,2,3.000000,9.000000,NaN,38.0,400.0,52.0,-2.2,1032.9,-16.7,0.0,N,0.0,Nongzhanguan
122,123,2013,3,6,2,184.000000,214.000000,NaN,158.0,2399.0,35.0,6.3,1009.9,-7.0,0.0,NE,1.0,Nongzhanguan
1178,1179,2013,4,19,2,54.000000,130.000000,NaN,66.0,1000.0,24.0,7.4,1020.7,-5.3,0.0,SE,2.6,Nongzhanguan
1274,1275,2013,4,23,2,106.000000,108.000000,NaN,44.0,800.0,44.0,10.7,1007.7,6.1,0.0,SW,2.9,Nongzhanguan
1370,1371,2013,4,27,2,46.000000,115.000000,NaN,94.0,800.0,29.0,12.7,1005.5,0.4,0.0,ENE,0.4,Nongzhanguan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34958,34959,2017,2,24,14,84.838483,108.991096,NaN,NaN,NaN,NaN,11.2,1019.4,-12.3,0.0,NW,2.3,Nongzhanguan
34986,34987,2017,2,25,18,84.838483,108.991096,NaN,NaN,NaN,NaN,11.4,1016.4,-12.1,0.0,NNW,2.6,Nongzhanguan
35006,35007,2017,2,26,14,84.838483,108.991096,NaN,NaN,NaN,NaN,12.4,1018.9,-8.8,0.0,ESE,1.6,Nongzhanguan
35026,35027,2017,2,27,10,84.838483,108.991096,NaN,NaN,NaN,NaN,6.8,1019.3,-5.2,0.0,E,1.9,Nongzhanguan
35042,35043,2017,2,28,2,84.838483,108.991096,NaN,NaN,NaN,NaN,8.6,1016.0,-10.9,0.0,NNE,0.9,Nongzhanguan

In [189]:
Nongzhanguan_df.SO2.value_counts()

SO2
2.0000      6289
3.0000      2523
4.0000      1878
5.0000      1550
6.0000      1459
            ...
80.5392        1
89.6784        1
101.3880       1
125.0928       1
257.0000       1
Name: count, Length: 263, dtype: int64

In [190]:
Nongzhanguan_df.SO2.fillna(value=2.0000, inplace=True)

In [191]:
Nongzhanguan_df[(Nongzhanguan_df['SO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [192]:
print("Jumlah missing values: \n", Nongzhanguan_df.isna().sum())

Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5         0
PM10          0
SO2           0
NO2         692
CO         1206
O3          506
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

In [193]:
Nongzhanguan_df[(Nongzhanguan_df['NO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
28,29,2013,3,2,4,3.000000,6.000000,7.0,NaN,400.0,59.0,-3.1,1032.7,-16.1,0.0,N,0.0,Nongzhanguan
124,125,2013,3,6,4,153.000000,175.000000,87.0,NaN,1899.0,35.0,5.1,1009.5,-6.5,0.0,NE,1.0,Nongzhanguan
1084,1085,2013,4,15,4,52.000000,155.000000,21.0,NaN,1000.0,5.0,5.5,1000.5,-1.7,0.0,ENE,0.6,Nongzhanguan
1180,1181,2013,4,19,4,67.000000,105.000000,39.0,NaN,1100.0,30.0,7.1,1021.0,-4.7,0.0,SE,1.8,Nongzhanguan
1276,1277,2013,4,23,4,85.000000,101.000000,15.0,NaN,800.0,46.0,10.0,1007.0,6.7,0.0,S,2.0,Nongzhanguan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34959,34960,2017,2,24,15,14.000000,29.000000,7.0,NaN,400.0,NaN,11.8,1018.8,-13.3,0.0,WSW,1.8,Nongzhanguan
34986,34987,2017,2,25,18,84.838483,108.991096,2.0,NaN,NaN,NaN,11.4,1016.4,-12.1,0.0,NNW,2.6,Nongzhanguan
35006,35007,2017,2,26,14,84.838483,108.991096,2.0,NaN,NaN,NaN,12.4,1018.9,-8.8,0.0,ESE,1.6,Nongzhanguan
35026,35027,2017,2,27,10,84.838483,108.991096,2.0,NaN,NaN,NaN,6.8,1019.3,-5.2,0.0,E,1.9,Nongzhanguan
35042,35043,2017,2,28,2,84.838483,108.991096,2.0,NaN,NaN,NaN,8.6,1016.0,-10.9,0.0,NNE,0.9,Nongzhanguan

In [194]:
Nongzhanguan_df.NO2.value_counts()

NO2
26.0000     470
30.0000     470
32.0000     467
22.0000     452
28.0000     447
           ...
83.1465       1
77.8087       1
65.9013       1
72.8815       1
204.0000      1
Name: count, Length: 595, dtype: int64

In [195]:
Nongzhanguan_df.NO2.describe()

count    34372.000000
mean        58.097172
std         36.297740
min          2.000000
25%         29.000000
50%         51.000000
75%         80.000000
max        273.000000
Name: NO2, dtype: float64

In [196]:
Nongzhanguan_df['NO2'].fillna(value=Nongzhanguan_df['NO2'].mean(), inplace=True)

In [197]:
Nongzhanguan_df[(Nongzhanguan_df['NO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [198]:
Nongzhanguan_df[(Nongzhanguan_df['CO'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
27,28,2013,3,2,3,3.000000,6.000000,8.00,30.000000,NaN,89.0,-3.1,1032.6,-15.8,0.0,N,0.0,Nongzhanguan
123,124,2013,3,6,3,169.000000,190.000000,107.00,155.000000,NaN,35.0,6.3,1009.6,-7.0,0.0,NE,0.7,Nongzhanguan
178,179,2013,3,8,10,216.000000,233.000000,78.54,151.922000,NaN,102.0,19.9,1002.4,-5.2,0.0,E,0.9,Nongzhanguan
219,220,2013,3,10,3,16.000000,32.000000,8.00,53.000000,NaN,94.0,-0.9,1023.3,-15.9,0.0,N,0.0,Nongzhanguan
315,316,2013,3,14,3,72.000000,56.000000,26.00,60.000000,NaN,93.0,-0.7,1026.2,-5.9,0.0,ENE,2.1,Nongzhanguan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34958,34959,2017,2,24,14,84.838483,108.991096,2.00,58.097172,NaN,NaN,11.2,1019.4,-12.3,0.0,NW,2.3,Nongzhanguan
34986,34987,2017,2,25,18,84.838483,108.991096,2.00,58.097172,NaN,NaN,11.4,1016.4,-12.1,0.0,NNW,2.6,Nongzhanguan
35006,35007,2017,2,26,14,84.838483,108.991096,2.00,58.097172,NaN,NaN,12.4,1018.9,-8.8,0.0,ESE,1.6,Nongzhanguan
35026,35027,2017,2,27,10,84.838483,108.991096,2.00,58.097172,NaN,NaN,6.8,1019.3,-5.2,0.0,E,1.9,Nongzhanguan
35042,35043,2017,2,28,2,84.838483,108.991096,2.00,58.097172,NaN,NaN,8.6,1016.0,-10.9,0.0,NNE,0.9,Nongzhanguan

In [199]:
Nongzhanguan_df['CO'].fillna(value=Nongzhanguan_df['CO'].mean(), inplace=True)

In [200]:
Nongzhanguan_df[(Nongzhanguan_df['CO'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [201]:
Nongzhanguan_df[(Nongzhanguan_df['O3'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
507,508,2013,3,22,3,80.000000,144.000000,26.0,54.000000,1324.350198,NaN,4.5,1011.8,-6.1,0.0,NNW,1.5,Nongzhanguan
603,604,2013,3,26,3,129.000000,160.000000,75.0,95.000000,1324.350198,NaN,3.5,1012.6,-5.2,0.0,SSW,0.0,Nongzhanguan
699,700,2013,3,30,3,66.000000,97.000000,68.0,70.000000,1324.350198,NaN,3.1,1018.7,-7.7,0.0,ENE,1.2,Nongzhanguan
795,796,2013,4,3,3,156.000000,239.000000,32.0,142.000000,1324.350198,NaN,5.1,1005.8,-0.3,0.0,ESE,1.4,Nongzhanguan
891,892,2013,4,7,3,54.000000,73.000000,18.0,50.000000,1324.350198,NaN,5.1,1006.2,-5.9,0.0,E,2.2,Nongzhanguan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34959,34960,2017,2,24,15,14.000000,29.000000,7.0,58.097172,400.000000,NaN,11.8,1018.8,-13.3,0.0,WSW,1.8,Nongzhanguan
34986,34987,2017,2,25,18,84.838483,108.991096,2.0,58.097172,1324.350198,NaN,11.4,1016.4,-12.1,0.0,NNW,2.6,Nongzhanguan
35006,35007,2017,2,26,14,84.838483,108.991096,2.0,58.097172,1324.350198,NaN,12.4,1018.9,-8.8,0.0,ESE,1.6,Nongzhanguan
35026,35027,2017,2,27,10,84.838483,108.991096,2.0,58.097172,1324.350198,NaN,6.8,1019.3,-5.2,0.0,E,1.9,Nongzhanguan
35042,35043,2017,2,28,2,84.838483,108.991096,2.0,58.097172,1324.350198,NaN,8.6,1016.0,-10.9,0.0,NNE,0.9,Nongzhanguan

In [202]:
Nongzhanguan_df.O3.value_counts()

O3
2.0000      3148
4.0000       872
3.0000       864
5.0000       655
6.0000       582
            ...
71.5428        1
75.8268        1
125.0928       1
37.0566        1
390.0000       1
Name: count, Length: 732, dtype: int64

In [203]:
Nongzhanguan_df.O3.fillna(value=2.0000, inplace=True)

In [204]:
Nongzhanguan_df[(Nongzhanguan_df['TEMP'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
16748,16749,2015,1,27,20,36.0,53.0,15.0,79.0,1000.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
17263,17264,2015,2,18,7,12.0,13.0,19.0,28.0,500.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
31047,31048,2016,9,14,15,74.0,74.0,8.0,18.0,700.0,208.0,NaN,NaN,NaN,NaN,SW,3.1,Nongzhanguan
31315,31316,2016,9,25,19,168.0,180.0,9.0,53.0,2500.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
31316,31317,2016,9,25,20,137.0,173.0,8.0,31.0,1600.0,132.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
31317,31318,2016,9,25,21,112.0,128.0,7.0,27.0,1500.0,118.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
31318,31319,2016,9,25,22,94.0,108.0,6.0,27.0,1400.0,87.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
31319,31320,2016,9,25,23,85.0,102.0,5.0,28.0,1200.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
31320,31321,2016,9,26,0,80.0,90.0,5.0,31.0,1100.0,53.0,NaN,NaN,NaN,NaN,NE,2.4,Nongzhanguan
33872,33873,2017,1,10,8,5.0,6.0,4.0,43.0,400.0,26.0,NaN,NaN,NaN,NaN,NW,2.6,Nongzhanguan
33882,33883,2017,1,10,18,8.0,12.0,4.0,39.0,400.0,35.0,NaN,NaN,NaN,NaN,SW,2.0,Nongzhanguan
34083,34084,2017,1,19,3,102.0,142.0,46.0,83.0,3100.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
34084,34085,2017,1,19,4,141.0,166.0,54.0,78.0,2700.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
34085,34086,2017,1,19,5,118.0,145.0,48.0,71.0,2500.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
34086,34087,2017,1,19,6,101.0,137.0,39.0,68.0,2800.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
34087,34088,2017,1,19,7,99.0,131.0,32.0,69.0,2600.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
34088,34089,2017,1,19,8,100.0,129.0,30.0,72.0,2600.0,5.0,NaN,NaN,NaN,NaN,NW,1.1,Nongzhanguan
34285,34286,2017,1,27,13,50.0,75.0,13.0,16.0,600.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
34286,34287,2017,1,27,14,36.0,79.0,11.0,15.0,500.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,Nongzhanguan
34287,34288,2017,1,27,15,44.0,73.0,12.0,16.0,500.0,80.0,NaN,NaN,NaN,NaN,SW,5.4,Nongzhanguan

In [205]:
Nongzhanguan_df = Nongzhanguan_df.dropna(axis=0, subset=['TEMP'])

In [206]:
print("Jumlah missing values: \n", Nongzhanguan_df.isna().sum())

Jumlah missing values:
 No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd         64
WSPM        0
station     0
dtype: int64

In [207]:
Nongzhanguan_df[(Nongzhanguan_df['wd'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
20853,20854,2015,7,17,21,53.0,63.0,4.0,48.0,1300.0,90.0,23.700,1002.3,21.6,0.0,NaN,0.1,Nongzhanguan
23035,23036,2015,10,16,19,285.0,285.0,26.0,138.0,2600.0,91.0,16.700,1012.6,12.6,0.0,NaN,0.2,Nongzhanguan
23059,23060,2015,10,17,19,354.0,354.0,16.0,184.0,2700.0,29.0,16.000,1013.6,13.3,0.0,NaN,0.1,Nongzhanguan
23356,23357,2015,10,30,4,10.0,16.0,5.0,54.0,400.0,4.0,0.700,1026.7,-3.8,0.0,NaN,0.2,Nongzhanguan
25756,25757,2016,2,7,4,65.0,65.0,30.0,78.0,2000.0,10.0,-5.900,1018.7,-14.2,0.0,NaN,0.2,Nongzhanguan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34314,34315,2017,1,28,18,220.0,260.0,50.0,54.0,2700.0,18.0,0.625,1016.0,-7.9,0.0,NaN,0.5,Nongzhanguan
34334,34335,2017,1,29,14,12.0,39.0,4.0,8.0,300.0,68.0,-1.220,1025.0,-21.6,0.0,NaN,6.5,Nongzhanguan
34560,34561,2017,2,8,0,106.0,115.0,14.0,74.0,1900.0,3.0,-2.800,1026.3,-7.0,0.0,NaN,0.2,Nongzhanguan
34638,34639,2017,2,11,6,9.0,14.0,6.0,39.0,400.0,33.0,-4.600,1025.0,-18.1,0.0,NaN,0.2,Nongzhanguan
34746,34747,2017,2,15,18,252.0,252.0,48.0,125.0,2000.0,38.0,4.100,1011.5,-5.9,0.0,NaN,0.0,Nongzhanguan

In [208]:
Nongzhanguan_df.wd.value_counts()

wd
ENE    3861
E      3564
NE     3539
ESE    2706
SW     2478
NW     2464
SSW    1953
NNE    1928
SE     1880
N      1865
WSW    1769
NNW    1693
S      1547
SSE    1402
WNW    1347
W       984
Name: count, dtype: int64

In [209]:
Nongzhanguan_df.wd.fillna(value="ENE", inplace=True)

In [210]:
Nongzhanguan_df[(Nongzhanguan_df['wd'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [82]:
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df['PM2.5'].fillna(value=Aotizhongxin_df['PM2.5'].mean(), inplace=True)
Aotizhongxin_df.NO2.value_counts()
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df.SO2.fillna(value=2.0000, inplace=True)
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())
Aotizhongxin_df[(Aotizhongxin_df['TEMP'].isna())]

NameError: name 'Aotizhongxin_df' is not defined